.product--container {
  min-width: 100%;
}

.product {
  padding: 20px;
}

.product--name {
  text-align: end;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 5px 0px;
  font-size: 14px;
}

.product--img {
  display: block;
  margin: 0px auto;
  height: 60vh;
}

.products--button {
  padding: 5px;
  margin: 10px 5px 0px 5px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-white);
  border-radius: 50px;
  background: var(--color-black);
  color: var(--color-white);
  font-family: "Jost", sans-serif;
  font-size: 14px;
}
