@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #282828;
  color: white;
  font-family: "Jost", sans-serif;
  height: 100%;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

h1 {
  font-size: 64px;
  letter-spacing: 5px;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  border-bottom: 1px solid white;
  padding: 20px 0px;
}

.left {
  width: 48%;
  padding: 20px;
}

.left--scroll {
  display: flex;
  flex-direction: row;
  overflow-x: scroll !important;
  flex-wrap: nowrap;
  width: 100%;
}

.right {
  border-left: 1px solid white;
  padding: 20px;
  width: 50%;
  height: 100vh;
  overflow-y: auto;
}
